<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 center-block mx-auto  mt-5">
      <div class="card ">
        <div class="card-body bg-standard text-dark">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-white text-center">Search Result</h3>
            </div>
            <hr class="border-bottom-color">
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-4 control-label text-white"
                           for="textinput">City
                    </label>
                    <div class="col-md-8">
                      <select id="selectbasic"
                              name="selectbasic"
                              class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-4 control-label text-white"
                           for="textinput">Category
                    </label>
                    <div class="col-md-8">
                      <select id="selectbasic"
                              name="selectbasic"
                              class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-4 control-label text-white"
                           for="textinput">Session
                    </label>
                    <div class="col-md-8">
                      <select id="selectbasic"
                              name="selectbasic"
                              class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-4 control-label text-white"
                           for="textinput">Program
                    </label>
                    <div class="col-md-8">
                      <select id="selectbasic"
                              name="selectbasic"
                              class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-4 control-label text-white"
                           for="textinput">Search
                    </label>
                    <div class="col-md-8">
                      <input id="textinput"
                             name="Date"
                             type="text"
                             placeholder="Enter Service"
                             class="form-control input-md">
                    </div>
                  </div>
                </div>
                <hr class="border-bottom-color">
                <p class=" text-center mt-3">
                  <a href="searchresult.html"
                     class="btn btn-md btn-success">Generate</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
