<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<ul>
  <li *ngFor="let name of names">{{"Name : "+name}}</li>
</ul>
<img [src]="logo" [alt]="title" style="width:50px ">

 


<div (click)="onMassage()">
  <button type="button"(click)="onSave($event)" class="btn btn-primary">Save</button>
</div>

<ul *ngFor="let book of books">
  <li >{{book.name|titlecase}}</li>
  <li >{{book.relisedate | date:'longDate'}}</li>
  <li >{{book.price |currency:'AUD'}}</li>

</ul>

<ul *ngFor="let dept of depts">
  <li >{{dept.id}} {{dept.fullname}}</li>
</ul>

<p>
  {{text |summary:5}}
</p>

<i class={{change}} [ngClass]="change ? 'fa-star fas' : 'fa-star far'"  (click)="changeicon()"></i><br>

<button type="button" class="btn btn-primary" (click)="senddata()">Output Data</button>
<button type="button" class="btn btn-primary" (click)="btnclick()">Service Data </button>

<ul>
  <li class="nav-item">
        <a class="nav-link"
           
           [routerLink]="['login']"
           routerLinkActive="active">login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           
           [routerLink]="['forms']"
           routerLinkActive="active">form</a>
      </li>

</ul>




