<div class="container">
  <div class="row">
      <div class=" col-sm-12 col-md-12   center-block mx-auto mt-5">
          <div class="card ">
              <div class="card-body bg-standard text-dark">
                  <div class="login-panel panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title text-white text-center">Validation</h3>
                      </div>
                      <hr class="border-bottom-color">
                      <div class="panel-body">
                          



                          <div class="row" id="accordion">
                              <div class="col mb-4">
                                  <div class="card">
                                      <div class="card-header ">
                                          <div class="text-center">
                                              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                                  <i class="fa fa-sitemap text-center "> Branch</i>
                                              </a>
                                          </div>
                                      </div>
                                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                          <div class="card-body">
                                              <div class="col-md-12 px-0">
                                                  <button type="button" class="btn btn-primary float-left">
                                                      <i class="fa fa-user-plus"></i>
                                                  </button>
                                                  <button type="button" class="btn btn-primary float-right">

                                                      <i class="fa fa-cogs"></i>
                                                  </button>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col mb-4">
                                  <div class="card">
                                      <div class="card-header">

                                          <div class="text-center">
                                              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                                  <i class="fa fa-sitemap text-center "> Branch</i>
                                              </a>
                                          </div>


                                      </div>
                                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                          <div class="card-body">
                                              <div class="col-md-12 px-0">
                                                  <button type="button" class="btn btn-primary float-left">
                                                      <i class="fa fa-user-plus"></i>
                                                  </button>
                                                  <button type="button" class="btn btn-primary float-right">

                                                      <i class="fa fa-cogs"></i>
                                                  </button>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col mb-4">
                                  <div class="card">
                                      <div class="card-header">
                                          <div class="text-center">
                                              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                                  <i class="fa fa-sitemap text-center "> Branch</i>
                                              </a>
                                          </div>
                                      </div>
                                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                                          <div class="card-body">
                                              <div class="col-md-12 px-0">
                                                  <button type="button" class="btn btn-primary float-left">
                                                      <i class="fa fa-user-plus"></i>
                                                  </button>
                                                  <button type="button" class="btn btn-primary float-right">

                                                      <i class="fa fa-cogs"></i>
                                                  </button>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="col mb-4">
                                  <div class="card">
                                      <div class="card-header">
                                          <div class="text-center">
                                              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                                  <i class="fa fa-sitemap text-center "> Branch</i>
                                              </a>
                                          </div>
                                      </div>
                                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                                          <div class="card-body">
                                              <div class="col-md-12 px-0">
                                                  <button type="button" class="btn btn-primary float-left">
                                                      <i class="fa fa-user-plus"></i>
                                                  </button>
                                                  <button type="button" class="btn btn-primary float-right">

                                                      <i class="fa fa-cogs"></i>
                                                  </button>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="col mb-4">
                                  <div class="card">
                                      <div class="card-header">
                                          <div class="text-center">
                                              <a class="card-link" data-toggle="collapse" href="#collapseFive">
                                                  <i class="fa fa-sitemap text-center "> Branch</i>
                                              </a>
                                          </div>
                                      </div>
                                      <div id="collapseFive" class="collapse" data-parent="#accordion">
                                          <div class="card-body">
                                              <div class="col-md-12 px-0">
                                                  <button type="button" class="btn btn-primary float-left">
                                                      <i class="fa fa-user-plus"></i>
                                                  </button>
                                                  <button type="button" class="btn btn-primary float-right">

                                                      <i class="fa fa-cogs"></i>
                                                  </button>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>











                      </div>




                      <hr class="border-bottom-color">
                      <p class=" text-center mt-3">
                          <a href="branch1.html" class="btn btn-md btn-success">Generate</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>