<div class="container">
  <h2 class="mt-2">Employee Forms</h2>
  <div class="row">
    <div class="col-md-8 d-block mx-auto">
      <form #ragisterObject="ngForm"
            (ngSubmit)="ragisterForm(ragisterObject)">
        
        <div class="form-group">
          <label for="">First Name </label>
          <input type="text"
                 class="form-control"
                 name="fname"
                 ngModel>
        </div>

        <div class="form-group">
          <label for="">Last Name </label>
          <input type="text"
                 class="form-control"
                 name="lname"
                 ngModel>
        </div>


        <div class="form-group">
          <label for="">Email </label>
          <input type="text"
                 class="form-control"
                 name="email"
                 ngModel>
        </div>

        <button type="submit" class="btn btn-primary" id="ragister">submit</button>
        <button type="submit" class="btn btn-primary ml-2" id="reset" (click)="resetform()">Reset</button>
        <button type="submit" class="btn btn-primary ml-2" id="fill" (click)="fill()">Fill</button>
      </form>
  
    </div>
  </div>
</div>