<div class="container">
  <div class="row  ">
      <div class=" col-sm-12 col-md-5  col-xl-3 center-block mx-auto centered">
          <div class="card ">
              <div class="card-body bg-standard text-dark">
                  <div class="login-panel panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title text-white text-center">Continue</h3>
                      </div>
                      <hr class="border-bottom-color">
                      <div class="panel-body">
                          <form class="form-horizontal">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <div class="row">
                                          <label class="col-md-12 control-label text-white" for="textinput">
                                              Your profile has been successfully updated</label>
                                      </div>
                                  </div>
                                  <hr class="border-bottom-color">
                                  <p class=" text-center mt-3">
                                    <a class="btn btn-primary nav-link"
                                    href="#"
                                    [routerLink]="['/backtosearch']"
                                    routerLinkActive="active">Back to Search</a>
                                  </p>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>